{% extends '_admin/oa_base.html' %}
{% block title %} All Channels{% endblock title %}
{% block app_title %} All Channels {% endblock app_title %}
{% block breadcrumbs %}
<li class="breadcrumb-item">Channel</li>
<li class="breadcrumb-item">All</li>
{% endblock breadcrumbs %}
{% block content %}
{% if euser and echannels.count >= 1  %}
<h4 class="mb-2 bg-white p-2 text-danger">Enterprise channels/Institutions</h4>
<div class="row">
    {% for channel in echannels %}
    <div class="col-md-4">
        <div class="card card-outline card-danger">
            <div class="card-header">
              <h4 class="card-title">{{channel.name}}</h4>
            </div>
            <div class="card-body row">
                <div class="col-4">
                    <img style="width:60px;height:60px" src="https://app.studentsonly.in/media/{{channel.icon}}" />
                </div>
                <div class="col-8">
                    {{channel.info}}
                </div>
                <div class="col-12 text-right"><a class="mt-2 btn btn-sm btn-success"
                        href="/_admin/channels/programmes/{{channel.uri}}">Open</a></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<h4 class="mb-2 mt-4">channels/Institutions</h4>
<div class="row">
    {% for channel in channels %}
    <div class="col-md-4">
        <div class="card card-outline card-danger">
            <div class="card-header">
                <h4 class="card-title">{{channel.name}}</h4>
            </div>
            <div class="card-body row">
                <div class="col-4">
                    <img style="width:60px;height:60px" src="https://app.studentsonly.in/media/{{channel.icon}}" />
                </div>
                <div class="col-8">
                    {{channel.info}}

                </div>
                <div class="col-12 text-right"><a class="mt-2 btn btn-sm btn-success"
                        href="/_admin/channels/programmes/{{channel.uri}}">Open</a></div>

            </div>

        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}
{% block script %}

{% endblock script %}