{% extends '_admin/oa_base.html' %}
{% block title %} Playlist - {{qprogramme}}{{qchannel}}{% endblock title %}
{% block app_title %} {{qchannel}} {% endblock app_title %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/_admin/channels/">Channels</a></li>
<li class="breadcrumb-item"><a href="/_admin/channels/programmes/{{qchannel}}">{{qchannel}}</a></li>
<li class="breadcrumb-item">{{qprogramme}}</li>

{% endblock breadcrumbs %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-11">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-text-width"></i>
                  Playlist/Subjects
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
              <table id="example1" class="table table-bordered table-striped table-responsive-sm table-sm">
            <thead>
                <tr>
                    <th colspan=2>Video</th>
                    <th>Description</th>
                    <th>Published stream</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for video in videos %}
                <tr>
                    <td class="text-center"><img width="100px" src="https://app.studentsonly.in/media/{{video.icon}}"/></td>
                    <td>{{video.name}}</td>
                    <td>{{video.info}}</td>
                    <td><ul class="list-unstyled">{% for playlist in video.playlist.all %}
                        <li>{{playlist.name}}-{{playlist.programme.name}} | {{playlist.programme.channel.name}}</li>
                    {% endfor %}</ul></td>
                    <td class="text-center">  <a href="/_admin/videos/edit/{{video.uid}}" class="btn btn-sm btn-info" ><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
  

</div>
{% endblock content %}

{% block script %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(function () {

    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock script %}