{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>StudentsOnly | {% block title %} Login {% endblock title %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'lite/vendor/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'lite/css/adminlte.min.css' %}">

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'lite/vendor/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition login-page">
  <div class="login-box" oncopy='return false' oncut='return false'>
    <div class="login-logo">
      <a><b>StudentOnly</b> Infox</a>
    </div>
    <Script>
      document.oncontextmenu = new Function("return false;");
    </script>
    <style>
      /* Prevent text selection of a <body> element in all major browsers */
      body {
        -youbkit-touch-callout: none;
        /* iOS Safari */
        -youbkit-user-select: none;
        /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE 10+ and Edge */
        user-select: none;
        /* Non-prefixed version, 
								  currently supported by Chrome and Opera */
      }
    </style>
    <!-- /.login-logo -->
    <div class="card shadow shadow-lg">
      <div class="card-body login-card-body">
        {% if request.session.officialloginerror %}
        <p class="login-box-msg text-danger">{{request.session.officialloginerror}}</p>
        {% else%}
        <p class="login-box-msg">Sign in to start your session</p>
        {% endif %}

        <form action="/_admin/auth" method="post">
          {% csrf_token %}
          {% if request.GET.next %}<input name="next" type="hidden" value="{{request.GET.next}}">{% endif %}
          <div class="input-group mb-3">
            <input type="text" name="username" required class="form-control" placeholder="Email/Username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="password" required class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <p class="text-center mt-2" style="font-size:8pt;">
          <img src="https://www.domainalliance.org/hosted/images/dd/1c52ee238641f3b461fa8c647be31a/3-logo-secure.png"
            class="img-fluid">
          Powered by Infox-security
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
    
    <p class="text-center"> <a href="/">Back to Home</a> </p>
  </div>
  <!-- /.login-box -->

  <script src="{% static 'lite/vendor/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'lite/vendor//bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'lite/js/adminlte.min.js' %}"></script>

</body>

</html>