{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  body {
    background-color: white;
    font-size: 0.9rem;
    min-height: 100vh;
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-6">
      <!-- Default form register -->
      <div class="card">
        <div class="card-header heavy-rain-gradient  text-center">
          <h2 class="card-title text-primary" style="font-family:Broadway; line-height: 50px;"><img class="img-fluid"
              width="50px" src="{% static 'logo512.png' %}" /> StudentsOnly.in</h2>
        </div>

        <div class="card-body cloudy-knoxville-gradient">
          <h4>Sign up</h4>
          <form method="POST">
            {% autoescape off %}
            {% csrf_token %}
            <div class="form-row mb-4">
              <div class="col">
                <!-- First name -->
                {{ form.first_name }}
              </div>
              <div class="col">
                <!-- Last name -->
                {{ form.last_name }}
              </div>
            </div>

            {{ form.school }}

            <div class="mb-3">
             <span class="text-danger">
                  {% for error in form.username.errors %}
                  {{ error }} <br>
                  {% endfor %}
                </span>
              <div class="input-group">
                {{ form.username }}
              </div>

            </div>



            {{ form.password1 }}
            <span class="text-danger">
                  {% for error in form.password1.errors %}
                  {{ error }} <br>
                  {% endfor %}
                </span>
            {{ form.password2 }}
<span class="text-danger">
                  {% for error in form.password2.errors %}
                  {{ error }} <br>
                  {% endfor %}
                </span>


            {{ form.mobile }}


            <!-- Sign up button -->
            <button class="btn btn-danger my-1" type="submit">Sign up</button>


            <hr>

            <!-- Terms of service -->
            <p style="font-size: 0.8rem;">By clicking
              <em>Sign up</em> you agree to our
              <a href="" target="_blank">terms of service</a>

              {% endautoescape %}
          </form>
        </div>
        <!-- Default form register -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}
<!--
{% for field in form %}
  <div>
    {{ field.label_tag }}<br>
    {{ field }}
    {% if field.help_text %}
    <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% endfor %}
  -->